* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

body {
    background-color: rgb(47, 19, 72);
}

.container {
    /* background-color: red; */
    width: 90vw;
    margin: 40px auto;
    color: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container span{
    font-size: 3vmax;
}

.container h1 {
    font-weight: 600;
    margin-bottom: 30px;
    /* color: #000; */
    color: rgb(97, 226, 97);
    font-size: 3vmax;
}

.container h2 {
    padding-bottom: 15px;
    margin-top: 20px;
}

.input-box {
    color: #fff;
    width: 25vmax;
    height: 3vmax;
    margin-top: 10px;
    background-color: rgb(242, 242, 242);
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


#input {
    /* flex: 1; */
    width: 60%;
    height: 2vh;
    background: transparent;
    border: none;
    outline: none;
    color: #000;
    padding: 1vw;
    font-size: 1.1vmax;
    font-weight: 510;
}

#browse {
    /* padding: 0 40px; */
    height: 100%;
    width: 25%;
    border: none;
    outline: none;
    background-color: rgb(97, 226, 97);
    /* width: calc(15% - 10px); */
    font-size: 1vmax;
    font-weight: 500;
    cursor: pointer;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.results {
    width: 95%;
    margin: 80px auto 50px;
    display: grid;
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
}

.results img {
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-radius: 5px;


}


#show-more-btn {
    background: rgb(97, 226, 97);
    ;
    color: #000;
    border: 0;
    outline: 0;
    padding: 10px 20px;
    border-radius: 4px;
    margin: 10px auto 100px;
    cursor: pointer;
    font-size: 13px;
    font-weight: 500;

    display: none;

}